<ng-content></ng-content>
<table [className]="styles.baseClassName" style="width:100%">
    <thead class="header">
        <tr>
            <td *ngIf="EnableSelectCheckbox"><input type="checkbox" (click)="SelectAll()" /></td>
            <td *ngFor="let item of gridColumnModels;" (click)='SortClick(item.Title)'>
                <span *ngIf='item.Type == undefined || item.Type === Text'>
                {{item.Title}}
                </span>
                
                </td>

        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let item of Data; 
             let index =index;
             let isOdd=odd;
             let isEven=even" [class.odd]="isOdd" [class.even]="isEven" (click)='select(item)' [class.selected]="item.selected == true">
             <td *ngIf="EnableSelectCheckbox"><input type="checkbox" [checked]='item.selected == true'/></td>
            <template ngFor let-col [ngForOf]="gridColumnModels"> 
                <td>
                    <flex-grid-column [data]="item" [ref]="col.ref"></flex-grid-column>
                </td>
            </template>
        </tr>

    </tbody>
</table>
<div id="PagingNavigation" style="margin-top: 10px;">
    <button class="erxBtn-arrow-right eRxNavButton" type="button">Next</button>
    <span style="vertical-align: initial; position: relative; top: 1px;">Displayed Items 1 through 50  (50 Items).  &nbsp;&nbsp;&nbsp;&nbsp;<b>More Items Available</b></span>
</div>